/* default css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background: #26272b;
  }
  .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .header-area {
    background:url("./asset/bghomepage.jpg");
    filter: brightness();
    background-position: center center;
    background-size: cover;
  }
  /* default css end */
  
  
  /* navbar regular css start */
  .navbar-area {
    background: rgba(0,0,0,.6);
    border-bottom: 1px solid #000;
  }
  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  span {
    color: #c80000;
  }
  a.site-logo {
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .site-navbar ul li a {
    font-size: 17.5px;
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }
  .site-navbar ul li a:hover {
    background: rgba(255,255,255,.1);
    color: #c80000;
    transition-timing-function: ease-in-out;
    transition: 0.5s;
  }
  /* navbar regular css end */
  
  
  /* nav-toggler css start */
  .nav-toggler {
    border: 3px solid #fff;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
  /* nav-toggler css start */
  
  
  /* intro-area css start */
  .intro-area {
    height: calc(100vh - 61px);
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  .sambutan{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5.35em;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 25px;
    animation-name: animasi_opacity;
    animation-duration: 2.5s;
  }
  .sambutan-1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #c80000;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 25px;
    animation-name: animasi_opacity_sambutan-1;
    animation-duration: 3s;
  }
  @keyframes animasi_opacity {
    0% {top: -100px; bottom: 100px; opacity: 0%;}
    100% {top: 0px; bottom: 0px; opacity: 100%;}
  }
  @keyframes animasi_opacity_sambutan-1 {
    0% {top: -100px; bottom: 100px; opacity: 0%;}
    100% {top: 0px; bottom: 0px; opacity: 100%;}
  }

  .welcome {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin: 5px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 25px;
    animation-name: animasi_opacity_welcome;
    animation-duration: 3s;
  }
  .welcome-1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #c80000;
    font-weight: 300;
    line-height: 50px;
    animation-name: animasi_opacity_welcome-1;
    animation-duration: 3s;
  }
  @keyframes animasi_opacity_welcome {
    0% {top: -100px; bottom: 100px; opacity: 0%;}
    100% {top: 0px; bottom: 0px; opacity: 100%;}
  }
  @keyframes animasi_opacity_welcome-1 {
    0% {top: -100px; bottom: 100px; opacity: 0%;}
    100% {top: 0px; bottom: 0px; opacity: 100%;}
  }
  img {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15em;
    width: 15em;
    animation-name: gambar-homepage;
    animation-duration: 2s;
  }
  @keyframes gambar-homepage {
    0% {margin-top: 100px; opacity: 0%;}
    100% {margin-top: 0px; opacity: 100%;}
  }
  /* intro-area css end */
  
  
  /* mobile breakpoint start */
  @media screen and (max-width: 800px) {
    .container {
      max-width: 720px;
    }
    /* navbar css for mobile start */
    .nav-toggler{
      display: block;
    }
    .site-navbar {
      min-height: 60px;
    }
    .site-navbar ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 60px);
      left: 0;
      top: 60px;
      flex-direction: column;
      align-items: center;
      border-top: 1px solid #444;
      background-color: rgba(0,0,0,.75);
      max-height: 0;
      overflow: hidden;
      transition: .3s;
    }
    .site-navbar ul li {
      width: 100%;
      text-align: center;
    }
    .site-navbar ul li a {
      padding: 25px;
    }
    .site-navbar ul li a:hover {
      background-color: rgba(255,255,255,.1);
    }
    .site-navbar ul.open {
      max-height: 100vh;
      overflow: visible;
    }
    .intro-area h2 {
      font-size: 42.5px;
      margin-bottom: 15px;
    }  
    
    /* navbar css for mobile end */
  }
  /* mobile breakpoint end */

  /* BUAT FOOTER */
  .site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color: #ea4c89
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#ea4c89
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
